---
import '../styles/global.css'
import '../styles/markdown.css'

import ArticleInfo from '@components/ArticleInfo.astro'
import Breadcrumbs from '@components/Breadcrumbs.astro'
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import Search from '@components/Search.astro'

import { ogDate, ogImage, ogTitle, ogURL } from '@utils/seo'

const { frontmatter } = Astro.props

const archiveExpiredAt = new Date(2024, 0, 1)
---

<!doctype html>
<html lang='ru'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <meta name='description' content='Добро пожаловать на мой сайт!' />
        <meta name='author' content='Иван Шелепугин' />
        <link rel='icon' type='image/png' href='/favicon.png' />
        <link
            rel='alternate'
            type='application/rss+xml'
            title='Блог Ивана Шелепугина'
            href='/feed.xml'
        />
        
        {/* Open Graph */}
        <meta property='og:title' content={ogTitle(frontmatter.title)} />
        <meta property='og:description' content={frontmatter.summary} />
        <meta property='og:url' content={ogURL('archive', frontmatter.id)} />
        <meta property='og:image' content={ogImage('archive', frontmatter.id)} />
        <meta property='og:image:type' content='image/png' />
        <meta property='og:image:alt' content={frontmatter.title} />
        <meta property='og:type' content='article' />
        <meta property="twitter:card" content="summary_large_image" />
        <meta property='article:author' content='Иван Шелепугин' />
        <meta property='article:published_time' content={ogDate(frontmatter.date)} />
        <meta property='article:expiration_time' content={ogDate(archiveExpiredAt)} />

        <title>{frontmatter.title} | Иван Шелепугин</title>
    </head>
    <body class='bg-stone-900 flex flex-col h-screen text-stone-50'>
        <Header />
        <main class='mb-auto mx-auto w-full max-w-7xl p-8 pt-32 pb-48 prose prose-stone prose-invert prose-xl'>
            <Breadcrumbs
                items={[
                    { label: 'Архив', href: '/archive' },
                    { label: frontmatter.title, href: `/archive/${frontmatter.id}` },
                ]}
            />
            <h1>{frontmatter.title}</h1>
            <ArticleInfo
                date={frontmatter.date}
            />
            <slot />
        </main>
        <Footer />
        <Search />
        <Search />
    </body>
</html>

<script src="../scripts/search.ts" />
